.obyekty-v-1 {
  padding: 88px 0;
}
@media (max-width: 1080px) {
  .obyekty-v-1 {
    padding: 60px 0;
  }
}
.obyekty-v-1__title {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 50px;
  line-height: 118%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #000;
}
@media (max-width: 1080px) {
  .obyekty-v-1__title {
    margin-bottom: 25px;
    font-size: 26px;
  }
}
.obyekty-v-1__description {
  margin: 0 0 50px;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #000;
}
@media (max-width: 1080px) {
  .obyekty-v-1__description {
    margin-bottom: 45px;
    font-size: 20px;
  }
}
.obyekty-v-1__photo {
  position: relative;
  margin: 0;
}
@media (max-width: 1080px) {
  .obyekty-v-1__photo {
    margin: 0 -15px;
  }
}
.obyekty-v-1__photo-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 1080px) {
  .obyekty-v-1__photo-image {
    min-height: 360px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.obyekty-v-1__photo-caption {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #ffffff;
  background-color: #099b8c;
}
@media (max-width: 1080px) {
  .obyekty-v-1__photo-caption {
    left: 12px;
    max-width: 62%;
    font-size: 18px;
  }
}
.obyekty-v-1__form {
  position: relative;
  z-index: 10;
  max-width: 732px;
  margin: -138px 0 0 30px;
  padding: 20px 24px 18px;
  background-color: #131b2d;
}
@media (max-width: 1080px) {
  .obyekty-v-1__form {
    margin: -65px 0 0;
  }
}
.obyekty-v-1__form-title {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #fff;
}
.obyekty-v-1__form-description {
  margin: 2px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #9fa5b2;
}
@media (max-width: 1080px) {
  .obyekty-v-1__form-description {
    margin-top: 8px;
  }
}
.obyekty-v-1__form-callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  margin: 17px 0 0;
  padding: 0;
  border: none;
}
@media (max-width: 1080px) {
  .obyekty-v-1__form-callback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.obyekty-v-1__form-callback-name, .obyekty-v-1__form-callback-phone, .obyekty-v-1__form-callback-button {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 9.3333333333px);
          flex: 0 0 calc(33.3333333333% - 9.3333333333px);
  padding: 9px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  border: none;
}
@media (max-width: 1080px) {
  .obyekty-v-1__form-callback-name, .obyekty-v-1__form-callback-phone, .obyekty-v-1__form-callback-button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 17px 24px;
  }
}
.obyekty-v-1__form-callback-name, .obyekty-v-1__form-callback-phone {
  color: #87878e;
  outline: none;
  background-color: #3f434e;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.obyekty-v-1__form-callback-name:focus, .obyekty-v-1__form-callback-phone:focus {
  color: #000000;
  background-color: #ffffff;
}
.obyekty-v-1__form-callback-name::-webkit-input-placeholder, .obyekty-v-1__form-callback-phone::-webkit-input-placeholder {
  color: #87878e;
}
.obyekty-v-1__form-callback-name::-moz-placeholder, .obyekty-v-1__form-callback-phone::-moz-placeholder {
  color: #87878e;
}
.obyekty-v-1__form-callback-name:-ms-input-placeholder, .obyekty-v-1__form-callback-phone:-ms-input-placeholder {
  color: #87878e;
}
.obyekty-v-1__form-callback-name::-ms-input-placeholder, .obyekty-v-1__form-callback-phone::-ms-input-placeholder {
  color: #87878e;
}
.obyekty-v-1__form-callback-name::placeholder, .obyekty-v-1__form-callback-phone::placeholder {
  color: #87878e;
}
.obyekty-v-1__form-callback-button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #099b8c;
  cursor: pointer;
}
.obyekty-v-1__form-disclaimer {
  margin: 21px 0 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #9fa5b2;
}
.obyekty-v-1__form-disclaimer a {
  color: inherit;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.obyekty-v-1__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 34px 80px;
  margin: 58px 0 0;
}
@media (max-width: 1080px) {
  .obyekty-v-1__advantages {
    margin-top: 50px;
  }
}
.obyekty-v-1__advantages-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 40px);
          flex: 0 0 calc(50% - 40px);
}
@media (max-width: 1080px) {
  .obyekty-v-1__advantages-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.obyekty-v-1__advantages-card-icon {
  margin: 0;
  padding: 0;
  border: none;
}
.obyekty-v-1__advantages-card-icon-image {
  display: block;
  max-width: 100%;
  width: 64px;
  height: auto;
}
.obyekty-v-1__advantages-card-title {
  margin: 13px 0 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #1c1c20;
}
.obyekty-v-1__advantages-card-description {
  margin: 13px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #000;
}